.footer {
    background-color: #f8f9fa; /* Light background color */
    padding: 40px 0; /* Padding for top and bottom */
    border-top: 1px solid #e9ecef; /* Top border */
}

.footer_nav_container, 
.footer_social, 
.cr {
    text-align: left; /* Align text to the left */
    padding-left: 40px; /* Adjust left padding for spacing */
}

.footer_nav {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
}

.footer_nav li {
    margin: 10px 0; /* Space between items */
}

.footer_nav a {
    text-decoration: none; /* Remove underline from links */
    color: #343a40; /* Dark text color */
    font-weight: 500; /* Medium font weight */
    transition: color 0.3s ease, font-size 0.3s ease;
}

.footer_nav a:hover {
    font-weight: bold;
    font-size: 18px;
    color: #ff8942; /* Change color on hover */
}

.footer_social {
    margin-bottom: 20px; /* Space below social icons */
}

.footer_social ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align icons to the left */
}

.footer_social li {
    margin: 10px 0; /* Space between icons */
}

.footer_social a {
    color: #343a40; /* Dark icon color */
    font-size: 24px; /* Icon size */
    transition: color 0.3s; /* Smooth color transition */
    transition: color 0.3s ease, font-size 0.3s ease;
}

.footer_social a:hover {
    font-size: 28px;
    color: #ff8942; /* Change color on hover */
}

.cr {
    text-align: center;
    color: #6c757d; /* Light gray text color */
    font-size: 14px; /* Font size */
}

.cr a {
    font-weight: bold;
    color: #ff8942; /* Link color */
    text-decoration: none; /* Remove underline */
}

.cr a:hover {
    text-decoration: underline; /* Underline on hover */
}
