@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.homeBannerSection { 
    position: relative;
    overflow: hidden;   
    margin-top: 20px;
}

.homeBannerSection * {
    outline: none !important;
}

.homeBannerSection .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    background: #000;
    color: #fff; /* Ensure the arrow is visible */
    border-radius: 50%; /* Optional: Make the button round */
}

.homeBannerSection .slick-arrow.slick-next {
    right: 25px !important;
}

.homeBannerSection .slick-arrow.slick-prev {
    left: 25px !important; /* Adjusted for better alignment */
}